.mainContainer {
  margin-top: 100px;
  padding: 12px;
  width: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media (max-width: 776px) {
  .container {
    flex-direction: column;
  }
}
.container .leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}
.container .leftSide h2 {
  font-size: 34px;
  font-weight: 400;
}
.container .leftSide h2 > span {
  color: gold;
}
.container .leftSide h1 {
  font-size: 40px;
  color: gold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.container .leftSide #job {
  animation: render 1.2s infinite, typing 5s infinite steps(19);
  width: max-content;
  /* max-width: 200px; */
  padding-right: 10px;
  border-right: 2px solid transparent;
  overflow-x: hidden;
  text-wrap: nowrap;
  max-width: 370px;
}

@keyframes render {
  50% {
    border-right: 2px solid #eee;
  }
  100% {
    border-right: transparent;
  }
}
@keyframes typing {
  25% {
    width: 5%;
  }
  35% {
    width: 30%;
  }
  55% {
    width: 55%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: calc((max-content) + 20px);
  }
}
.container .leftSide p {
  color: #888;
}

.container .leftSide .socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
}
.container .leftSide .socialMedia > a {
  font-size: 25px;
  transition: 0.25s ease all;
}
.container .leftSide .socialMedia > a:hover {
  transform: translateY(-5px);
}

/* Right Side */

.container .rightSide > img {
  border-radius: 50%;
  object-fit: contain;
  aspect-ratio: 1/1;
  max-width: 500px;
  min-width: 300px;
}
